plugin-jdbc-mysql/src/test/resources/sanity-checks/all_mysql.yaml
id: all_mysql
namespace: sanitychecks.plugin-jdbc

variables:
  mysql_password: sanity
  mysql_user: test
  mysql_db: sanitychecks

tasks:
  - id: port
    type: io.kestra.plugin.core.debug.Return
    format: "{{ randomPort() }}"

  - id: dockerStart
    type: io.kestra.plugin.docker.Run
    containerImage: mysql:8
    env:
      MYSQL_ROOT_PASSWORD: "{{ vars.mysql_password }}"
      MYSQL_DATABASE: "{{ vars.mysql_db }}"
      MYSQL_USER: "{{ vars.mysql_user }}"
      MYSQL_PASSWORD: "{{ vars.mysql_password }}"
    commands:
      - "mysqld"
      - "--user=mysql"
      - "--port=3306"
      - "--bind-address=0.0.0.0"
    portBindings:
      - "{{ outputs.port.value }}:3306"
    wait: false

  - id: wait_for_mysql
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT30S

  - id: create_table
    type: io.kestra.plugin.jdbc.mysql.Query
    fetchType: NONE
    sql: |
      CREATE TABLE IF NOT EXISTS test (
        field1 INT,
        field2 INT
      );

  - id: insert_data
    type: io.kestra.plugin.jdbc.mysql.Queries
    fetchType: NONE
    sql: |
      INSERT INTO test VALUES (1, 2);
      INSERT INTO test VALUES (3, 4);
      INSERT INTO test VALUES (4, 5);

  - id: query
    type: io.kestra.plugin.jdbc.mysql.Query
    fetchType: FETCH
    sql: SELECT * FROM test ORDER BY field1;

  - id: queries
    type: io.kestra.plugin.jdbc.mysql.Queries
    fetchType: STORE
    sql: |
      SELECT * FROM test ORDER BY field1;
      SELECT * FROM test ORDER BY field1 LIMIT 1;

  - id: select_and_store
    type: io.kestra.plugin.jdbc.mysql.Query
    fetchType: STORE
    sql: SELECT * FROM test ORDER BY field1 LIMIT 2;

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.query.rows[0].field1 == 1 }}"
      - "{{ outputs.query.rows[1].field2 == 4 }}"
      - "{{ outputs.queries.outputs[0].size == 3 }}"
      - "{{ outputs.queries.outputs[1].size == 1 }}"
      - "{{ outputs.select_and_store.size == 2 }}"

finally:
  - id: dockerStop
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.dockerStart.taskRunner.containerId }}"
    kill: true

  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.jdbc.mysql
    values:
      url: "jdbc:mysql://localhost:{{ outputs.port.value }}/{{ vars.mysql_db }}?allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true"
      username: "{{ vars.mysql_user }}"
      password: "{{ vars.mysql_password }}"
