plugin-jdbc-sqlite/src/test/resources/sanity-checks/all_sqlite.yaml
id: all_sqlite
namespace: sanitychecks.plugin-jdbc

tasks:
  - id: create_table
    type: io.kestra.plugin.jdbc.sqlite.Query
    fetchType: NONE
    sql: |
      CREATE TABLE IF NOT EXISTS test(
        field1 INT,
        field2 INT
      );

  - id: insert_data
    type: io.kestra.plugin.jdbc.sqlite.Queries
    sqliteFile: '{{ outputs.create_table.databaseUri }}'
    fetchType: NONE
    sql: |
      INSERT INTO test(field1, field2) VALUES (1, 2);
      INSERT INTO test(field1, field2) VALUES (3, 4);
      INSERT INTO test(field1, field2) VALUES (4, 5);

  - id: query
    type: io.kestra.plugin.jdbc.sqlite.Query
    sqliteFile: '{{ outputs.insert_data.databaseUri }}'
    fetchType: FETCH
    sql: SELECT * FROM test ORDER BY field1;

  - id: queries
    type: io.kestra.plugin.jdbc.sqlite.Queries
    sqliteFile: '{{ outputs.insert_data.databaseUri }}'
    fetchType: STORE
    sql: |
      SELECT * FROM test ORDER BY field1;
      SELECT * FROM test ORDER BY field1 LIMIT 1;

  - id: select_and_store
    type: io.kestra.plugin.jdbc.sqlite.Query
    sqliteFile: '{{ outputs.insert_data.databaseUri }}'
    fetchType: STORE
    sql: SELECT * FROM test ORDER BY field1 LIMIT 2;

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.query.rows[0].field1 == 1 }}"
      - "{{ outputs.query.rows[1].field2 == 4 }}"
      - "{{ outputs.queries.outputs[0].size == 3 }}"
      - "{{ outputs.queries.outputs[1].size == 1 }}"

finally:
  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.jdbc.sqlite
    values:
      url: "jdbc:sqlite:myfile.db"
      outputDbFile: true