plugin-jdbc-postgres/src/test/resources/sanity-checks/all_postgres.yaml
id: all_postgres
namespace: sanitychecks.plugin-jdbc

variables:
  postgres_password: sanity
  postgres_user: test
  postgres_db: sanitychecksdb

tasks:
  - id: port
    type: io.kestra.plugin.core.debug.Return
    format: "{{ randomPort() }}"

  - id: dockerStart
    type: io.kestra.plugin.docker.Run
    containerImage: postgres:16
    portBindings:
      - "{{ outputs.port.value }}:5432"
    wait: false
    env:
      POSTGRES_PASSWORD: "{{ vars.postgres_password }}"
      POSTGRES_USER: "{{ vars.postgres_user }}"
      POSTGRES_DB: "{{ vars.postgres_db }}"

  - id: sleep
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT15S

  - id: create_table
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
      CREATE SCHEMA IF NOT EXISTS sanitychecks;
      CREATE TABLE IF NOT EXISTS sanitychecks.test(
        field1 INT,
        field2 INT
      );

  - id: write
    type: io.kestra.plugin.core.storage.Write
    content: |
      field1,field2
      1,2
      3,4
      4,5
    extension: .csv

  - id: copyin
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    from: "{{ outputs.write.uri }}"
    table: sanitychecks.test
    header: true
    delimiter: ','

  - id: query
    type: io.kestra.plugin.jdbc.postgresql.Query
    fetchType: FETCH
    sql: SELECT * FROM sanitychecks.test ORDER BY field1;

  - id: queries
    type: io.kestra.plugin.jdbc.postgresql.Queries
    fetchType: STORE
    sql: |
      SELECT * FROM sanitychecks.test ORDER BY field1;
      SELECT * FROM sanitychecks.test ORDER BY field1 LIMIT 1;

  - id: copyout
    type: io.kestra.plugin.jdbc.postgresql.CopyOut
    format: CSV
    sql: SELECT * FROM sanitychecks.test ORDER BY field1 LIMIT 2
    header: true
    delimiter: ","

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.copyin.rowCount == 3 }}"
      - "{{ outputs.query.rows[0].field1 == 1 }}"
      - "{{ outputs.query.rows[1].field2 == 4 }}"
      - "{{ outputs.queries.outputs[0].size == 3 }}"
      - "{{ outputs.queries.outputs[1].size == 1 }}"
      - "{{ outputs.copyout.rowCount == 2 }}"

finally:
  - id: dockerStop
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.dockerStart.taskRunner.containerId }}"
    kill: true

  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      username: "{{ vars.postgres_user }}"
      password: "{{ vars.postgres_password }}"
      url: "jdbc:postgresql://localhost:{{ outputs.port.value }}/{{ vars.postgres_db }}"
